body {
    font-family: sans-serif;
}

.nav1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 50px;
    width: 100%;
}

.a1 {
    margin: 5px;
    text-decoration: none;
    color: rgb(128, 128, 128);
}

.logo {
    color: purple;
}

.button1 {
    background-color: purple;
    color: white;
    height: 30px;
    width: 90px;
    border: 1px solid purple;
    border-radius: 4px;
}

/* style first section */
.first_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.desk_drawing {
    width: 40vw;
    height: 40vh;
}

.div1_first_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button_register_now {
    height: 5vh;
    width: 10vw;
    border: 0;
    border-radius: 5%;
    color: white;
    background-color: purple;
}

.div2_first_section {
    display: flex;
    width: 40vw;
    justify-content: space-between;
    align-items: center;

}

.cc_img {
    width: 20%;
    height: 20%;
}

.magento_img {
    width: 20%;
    height: 20%;
}

.woo_commerce_img {
    width: 20%;
    height: 20%;
}

.ubontu_img {
    width: 20%;
    height: 20%;
}

.lunix_img {
    width: 20%;
    height: 20%;
}

/* end style first section */
/* style second section  */

.second_section {
    width: 98vw;
    height: 80vh;
    background-color: rgb(237, 237, 250);
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    justify-content: space-between;


}

.pdiv1_second_section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pdiv2_second_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdiv2_1_second_section {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.cdiv2_second_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.imgs_s2 {
    width: 25%;
    height: 25%;
    border: 1px;
    border-radius: 50%;
}

.pdiv2_child {
    background-color: rgb(237, 237, 250)
}

/* end of style second section */

/* badr part */
/* center section css */

.cr-sctn ,.prpl-sec{
    text-align: center;
    font-family: sans-serif ;
}

.pht-prgf {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    padding: 50px;
}

.taswira {
    box-shadow: 1px 1px 30px -5px black
}

.prpl-sec {
    padding-top: 40px;
    background-color: rgb(100, 51, 192);
    color: white;
}

.rts {
    display: flex;
    justify-content: center;
    gap: 80px;
}
/* part dyal mohamed */
.simopart1 {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    padding: 50px

}

.icons1{
    display: flex;
    justify-content: space-around;
    margin-right: 50%;
    text-decoration: none;
    color: black;
}
.ico1{
    font-size: 20px;
    color: gray;
    background-color: brown;
    border-radius: 50%;
}
.ico2{
    font-size: 20px;
    color: brown;
    border-radius: 50%;
}
.ico3{
    font-size: 20px;
    color: rgb(255, 217, 0);
    border-radius: 50%;
}
.p1{
    margin-left: 10%;
    color: grey;
}
.text1{
    display: flex;
    flex-direction: column;
}
.footer1{
    background-color: rgba(128, 0, 128, 0.082);
    height: 600px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.foot1{
    text-align: center;
    font-family: sans-serif ;
}
.p2{
    color: gray;
}
.inputsimo1{
    height: 35px;
    width: 300px;
    text-align: center;
    font-family: sans-serif ;
    border: 1.5px purple solid;
    border-radius: 5%;
}
.button22{
    height: 35px;
    width: 300px;
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-family: sans-serif ;
}
.aray-footer {
    background-color: pink;
    display: flex;
    align-items: center;
    color: rgb(71, 71, 71);
    font-family: sans-serif;
    font-weight: 50px;
    justify-content: center;
    justify-content: space-around;
}

.aray-footer>div>a {
    color: rgb(71, 71, 71);
    text-decoration: none;
}

.prpl-p {
    color: purple;
}