nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 50px;
    width: 100%;
}
a{
    margin: 5px;
    text-decoration: none;
    color: rgb(128, 128, 128);
}
.logo{
    color: purple;
}
.button1{
    background-color: purple;
    color: white;
    height: 30px;
    width: 90px;
    border: 1px solid purple;
    border-radius: 7%;
}